<!-- This is the parent component -->
<!-- we are listening to the featureSelected event -->
<!-- $event refers to the event data -->
<!-- know we use ngIf to see which component should be displayed -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
